{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<h1 class="text-center">My Blog | Get a chance to express yourself</h1>
<hr>
<header class="masthead" style= "margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
          <h2>{{quote.author}}</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>
<!-- Main Content -->
<div class="container">
	
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<a href="/new-post"><button class="text-center btn btn-outline-primary" style= "margin-top: 70px; font-size:30px;">Try it Out</button></a>
		</div>
		<div class="col-md-3"></div>
		
	</div>
</div>
{%endblock%}