{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<header class="masthead" style= "margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
          <h2>{{quote.author}}</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<button style= "margin-top: 70px;"><a href="/new-post">Try it Out</a>
	</button>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			{%for post in posts%}
			<div>
				<a href="{{url_for('main.post', id = post.id)}}">
				<h2 class="post-title">
					{{post.post_title}}
				</h2>
				<h3 class="post-subtitle">
					{{post.post_content}}
				</h3>
				</a>
				<p>Posted by
				<a href="{{url_for('main.profile', id = post.user_id)}}">{{post.post_by}}</a> on
					{{post.posted_at.strftime('%B %d, %Y')}}
				</p>
			</div>
		<div class="col-md-3"></div>
			{%endfor%}
		</div>
	</div>
</div>
{%endblock%}