{% macro display_comments(comments) %}
<div class="container">
</div>
<div class="card-columns">
    {% for comment in comments %}
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>{{comment.comment}}</p>
        </div>
         <p class="text-center">{{comment.post.title}}</p>
    </div>
    {% endfor %}
</div>

{% endmacro %}

{% extends 'base.html' %}
{% macro display_posts(posts) %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                        <div class="card-title">
                            <h1 class="text-center">Posts</h1>
                        </div>

                        <a href="/new-post"><button class="btn btn-outline-primary text-center">New Blog Post</button></a>
                        
                    <div class="card-columns text-center">
                        {%for post in posts[::-1]%}
                            <div class="post-preview">
                                <a href="{{url_for('main.posts', id = post.id)}}">
                                <h2 class="post-title">
                                    {{post.post_title}}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{post.post_content | truncate (45) | safe}}
                                </h3>
                                </a>
                                <p class="post-meta">Posted by
                                {{post.post_by}} on
                                {{post.posted_at.strftime('%B %d, %Y')}}
                                </p>
                            </div>
                        <hr>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endmacro %}