{% extends 'base.html'%}
{% block content %}
<header class="masthead" style= "margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{post.post_title}}</h1>
                    <small> Posted by {{post.post_by}} on {{post.posted_at}}. </small>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="content">
                    {{post.post_content}}
                </div>
            </div>
        </div>
    </div>
</article>
<hr>

{%endblock%}